<?xml version="1.0" encoding="UTF-8"?>
<!--
   This file is part of the DITA-OT Pretty DITA Plug-in project.
   See the accompanying LICENSE file for applicable licenses.
-->
<plugin id="fox.jason.pretty-dita">

	<!--
		Define package details.
	-->
	<feature extension="package.version" value="1.1.0"/>
	<feature extension="dita.conductor.transtype.check" value="pretty"/>
	<feature extension="ant.import" file="build_dita2pretty-dita.xml"/>

	<transtype abstract="false" desc="Prettify the DITA files for a given document" name="pretty-dita">
		<param name="args.pretty-dita.indent" desc="How many characters to indent" type="enum">
			<val>1</val>
			<val>2</val>
			<val>3</val>
			<val default="true">4</val>
			<val>5</val>
			<val>6</val>
		</param>
		<param name="args.pretty-dita.style" desc="Whether to indent using tabs or spaces" type="enum">
			<val>tabs</val>
			<val default="true">spaces</val>
		</param>
	</transtype>

</plugin>
